//-cpdf-wp1- - calendar-pdf-weekly-portrait-design-one


.cpdf-wp1-day-line{
  height: 32px;
  border-bottom: 1px solid #c8c5c1;
  font-size: 5px;
}

.cpdf-wp1-day-line-no-line{

  height: 32px;
  font-size: 5px;

}

.cpdf-wp1-calendar-month {
  /* align-content: center; */
  text-align: center;
}



.cpdf-wpm1-year{
  width:100%;
  text-align: center;
  justify-content: center;
  vertical-align: top;
}

.cpdf-wpm1-week-border{

  border: 1px solid black;

}

.cpdf-wpm1-week {
  height: 20px;
}

.cpdf-wpm1-td-month{
  //padding-bottom: 10px;
}
.cpdf-wpm1-month {
  min-width: 250px;
  max-width: 250px;
  margin: 5px;
  padding: 5px;
  display: unset;
  text-align: center;
  margin-right: 20px;
}

.cpdf-wpm1-month-name-line {
  height: 20px;
  //padding-top: 5px;
  font-size: 13px;
  color: #828282;
}

.cpdf-wpm1-month-name-a {

  font-size: 13px;
  color: #434343;
  //padding-bottom: 5px;
}

.cpdf-wpm1-month-name-line-td{
  //padding-bottom: 5px;

}

.cpdf-wpm1-day {
  color: $cDayNumbersColorPDF;
  font-size: 13px;
  padding: 3px;
  vertical-align: middle;
}

.cpdf-wpm1-day-holiday {
  background-color: $cHolidaysCellColor;
  color: $cDayNumbersColorPDF;
  font-size: 13px;
  //padding: 5px;
}

.cpdf-wpm1-no-day {

  padding: 3px;
  background-color: transparentize(white, 0.30);

}

.cpdf-wpm1-day-weekend{
  color: $cDayNumbersColorPDF;
  font-size: 13px;
  padding: 3px;
  background-color: $cWeekendCellColor;
}


.cpdf-wpm1-no-day-weekend {
  padding: 3px;
  background-color: white;

}

.cpdf-wpm1-day-name {
  color: $cDayNamesColorPDF;
  padding: 3px;
  background-color: white;
  width: 20px;
  font-size: 13px;

}

tr {
  vertical-align: top;
}

.cpdf-wpm1-week-line{
  //background-color: #0a73bb;
  border-top: 2px solid $cDayNameLineColor;

}

