//-cpdf-yp1- - calendar-pdf-yearly-portrait-design-one

.cpdf-yp1-year{
  width:100%;
  text-align: center;
  justify-content: center;
  vertical-align: top;
}

.cpdf-yp1-week {
  height: 40px;
}

.cpdf-yp1-td-month{
  padding-bottom: 10px;
}
.cpdf-yp1-month {
  min-width: 320px;
  max-width: 400px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  display: unset;

}

.cpdf-yp1-month-name-line {
  height: 50px;
  padding-top: 5px;
  //font-size: 25px;
  color: #828282;
}

.cpdf-yp1-month-name-line-td{

  font-size: 20px!important;
  color: #434343!important;
  padding-bottom: 5px!important;
}


.cpdf-yp1-day {
  color: $cDayNumbersColorPDF;
  font-size: 17px;
  padding: 5px;
}

.cpdf-yp1-day-holiday {
  background-color: $cHolidaysCellColor;
  border-radius: 50%;
  color: $cDayNumbersColorPDF;
  font-size: 17px;
  padding: 5px;
}


.cpdf-yp1-no-day {

  padding: 5px;
  background-color: white;

}

.cpdf-yp1-day-weekend{
  color: $cDayNumbersColorPDF;
  font-size: 17px;
  padding: 5px;
  background-color: $cWeekendCellColor;
}


.cpdf-yp1-no-day-weekend {
  padding: 5px;
  background-color: white;

}

.cpdf-yp1-day-name {
  color: $cDayNamesColorPDF;
  padding: 5px;
  background-color: white;
  width: 40px;
  font-weight: initial!important;

}



tr {
  vertical-align: top;
}

.cpdf-yp1-week-line{
  //background-color: #0a73bb;
  border-top: 2px solid $cDayNameLineColor;

}

.cpdf-yp1-holidays-table{

  width:100%;
  //text-align: center;
  justify-content: center;
  vertical-align: top;

}


.cpdf-yp1-holidays-table-inside{

  width:100%;
  //text-align: center;
  justify-content: center;
  vertical-align: top;

}

.cpdf-yp1-holidays-name{
  text-align: left;
  font-size: 10px;
}

.cpdf-yp1-holidays-table-border{
  border: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cpdf-yp1-holidays-rounded-mark {
  background-color: $cHolidaysCellColor;
  width: 5px;
  height: 5px;

  border-right:5px solid #ffffff;
  border-bottom:2px solid #ffffff;
}
