//-cpdf-2mp1- - calendar-pdf-2monthly-portrait-design-one

.cpdf-2mp1-year{
  width:100%;
  text-align: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  margin: 0;
}


.cpdf-2mp1-week-day-name {
  height: 30px;
}
.cpdf-2mp1-week {
  height: 100px;
}
.cpdf-2mp1-td-month{
  padding-bottom: 10px;
}
.cpdf-2mp1-month {
  margin: 0px;
  padding: 0px;
  width: 100%;
  margin-bottom: 10px;
}

.cpdf-2mp1-month-name-line {
  height: 35px;
  padding-top: 5px;
  font-size: 25px;
  color: #828282;
}

.cpdf-2mp1-month-name-a {

  font-size: 25px;
  color: #434343;


}

.cpdf-2mp1-month-name-line-td{
  text-align: left;
  padding-bottom: 20px;
  padding-left: 20px;
}

.cpdf-2mp1-day {
  color: #535353;
  font-size: 20px;
  padding: 20px;
  height: 75px;
  vertical-align: top;
  text-align: left;
  border-bottom: 1px solid #444444;
  border-right: 6px solid #ffffff;
}

.cpdf-2mp1-day-holiday {
  color: #ff0300;

}


.cpdf-2mp1-no-day {
  color: #F98909;

  background-color: transparentize(white, 0.30);
  padding: 20px;
}

.cpdf-2mp1-day-weekend{
  color: #535353;

  background-color: #fff4f4;

}


.cpdf-2mp1-no-day-weekend {
  color: #F98909;
  padding: 5px;
  background-color: transparentize(white, 0.30);

}

.cpdf-2mp1-day-name {
  color: #000000;
  font-weight: bold;
  width: 40px;
  font-size: 18px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid #0a73bb;
  border-right: 6px solid #ffffff;
}





tr {
  vertical-align: top;
}

.cpdf-2mp1-week-line{
  //background-color: #0a73bb;
  border-top: 2px solid #0a73bb;

}

.cpdf-2mp1-holidays-table{

  width:100%;
  //text-align: center;
  justify-content: center;
  vertical-align: top;

}


.cpdf-2mp1-holidays-table-inside{

  width:100%;
  //text-align: center;
  justify-content: center;
  vertical-align: top;

}

.cpdf-2mp1-holidays-name{
  text-align: left;
  font-size: 10px;
}

.cpdf-2mp1-holidays-table-border{
  border: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cpdf-2mp1-holidays-rounded-mark {
  background-color: #ffd0d0;
  width: 5px;
  height: 5px;

  border-right:5px solid #ffffff;
  border-bottom:2px solid #ffffff;
}
