//-cpdf-dp1- - calendar-pdf-daily-portrait-design-one


.cpdf-dp1-day-line{

  height: 32px;
  border-bottom: 1px solid #c8c5c1;
  font-size: 5px;

}


.cpdf-dp1-day-line-no-line{

  height: 32px;
  font-size: 5px;

}

.cpdf-dp1-calendar-month {
  /* align-content: center; */
  text-align: center;
}

.cpdf-dpm1l-this-day{

  border: 1px solid black;

}

.cpdf-dpm1l-year{
  width:100%;
  text-align: center;
  justify-content: center;
  vertical-align: top;
}

.cpdf-dpm1l-week-border{

  border: 1px solid black;

}

.cpdf-dpm1l-week {
  height: 30px;
}

.cpdf-dpm1l-td-month{
  //padding-bottom: 10px;
}
.cpdf-dpm1l-month {
  min-width: 300px;
  max-width: 320px;
  margin: 10px;
  padding: 10px;
  display: unset;
  text-align: center;

}

.cpdf-dpm1l-month-name-line {
  height: 30px;
  //padding-top: 5px;
  font-size: 20px;
  color: #828282;
}

.cpdf-dpm1l-month-name-a {

  font-size: 20px;
  color: #434343;
  //padding-bottom: 5px;
}

.cpdf-dpm1l-month-name-line-td{
  //padding-bottom: 5px;

}

.cpdf-dpm1l-day {
  color: #535353;
  font-size: 18px;
  padding: 5px;
  vertical-align: middle;
}

.cpdf-dpm1l-day-holiday {
  background-color: #ffd0d0;
  color: #535353;
  font-size: 15px;
  //padding: 5px;
}

.cpdf-dpm1l-no-day {
  color: #F98909;
  padding: 10px;
  background-color: transparentize(white, 0.30);

}

.cpdf-dpm1l-day-weekend{
  color: #535353;
  font-size: 18px;
  padding: 5px;
  background-color: #fff4f4;
}


.cpdf-dpm1l-no-day-weekend {
  color: #F98909;
  padding: 5px;
  background-color: transparentize(white, 0.30);

}

.cpdf-dpm1l-day-name {
  color: #000000;
  font-weight: bold;
  padding: 5px;
  background-color: transparentize(white, 0.30);
  width: 40px;
  font-size: 15px;

}

tr {
  vertical-align: top;
}

.cpdf-dpm1l-week-line{
  //background-color: #0a73bb;
  border-top: 2px solid #0a73bb;

}

