//-cpdf-ml1-nh- - calendar-pdf-monthly-landscape-design-one


$heightMLOne : 35px;
$paddingMLOne : 15px;
$widthMLOne : 50px;

.cpdf-ml1-nh-year{
  width:100%;
  text-align: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

.cpdf-ml1-nh-week-day-name {
  height: 30px;
}
.cpdf-ml1-nh-week {
  height: 100px;
}
.cpdf-ml1-nh-td-month{
  padding-bottom: 10px;

}
.cpdf-ml1-nh-month {
  width: 100%;
  //margin: 10px;
  //padding: 5px;
  border-radius: 5px;
  display: unset;
  border-spacing: 5px;
  border-collapse: separate;
}

.cpdf-ml1-nh-month-name-line {
  height: 35px;
  padding-top: 5px;
  font-size: 25px;
  color: #828282;
}

.cpdf-ml1-nh-month-name-a {

  font-size: 25px;
  color: #434343;

}

.cpdf-ml1-nh-month-name-line-td{
  text-align: left;
  padding-bottom: 20px;
  padding-left: 20px;
}

.cpdf-ml1-nh-day {
  color: $cDayNumbersColorPDF;
  font-size: 17px;
  padding: $heightMLOne;
  height: $paddingMLOne;
  width: $widthMLOne;
  vertical-align: top;
  text-align: left;
  border-bottom: 1px solid #333333;
}

.cpdf-ml1-nh-day-holiday {
  background-color: $cHolidaysCellColor;
  color: $cDayNumbersColorPDF;
  font-size: 17px;
  padding: $heightMLOne;
  height: $paddingMLOne;
  width: $widthMLOne;
  border-bottom: 1px solid #333333;
}


.cpdf-ml1-nh-no-day {
  padding: $heightMLOne;
  height: $paddingMLOne;
  width: $widthMLOne;
  background-color: white;
}

.cpdf-ml1-nh-day-weekend{
  color: $cDayNumbersColorPDF;
  font-size: 17px;
  border-bottom: 1px solid #333333;
  padding: $heightMLOne;
  height: $paddingMLOne;
  width: $widthMLOne;
  background-color: $cWeekendCellColor;
}


.cpdf-ml1-nh-no-day-weekend {
  padding: $heightMLOne;
  height: $paddingMLOne;
  width: $widthMLOne;
  background-color: white;

}

.cpdf-ml1-nh-day-name {
  color: $cDayNamesColorPDF;
  padding: $paddingMLOne;
  height: 30px;
  width: $widthMLOne;
  background-color: white;
  font-weight: initial!important;
  font-size: 20px;

}

tr {
  vertical-align: top;
}

.cpdf-ml1-nh-week-line{
  //background-color: #0a73bb;
  border-top: 2px solid $cDayNameLineColor;

}

.cpdf-ml1-nh-holidays-table{

  width:100%;
  //text-align: center;
  justify-content: center;
  vertical-align: top;

}


.cpdf-ml1-nh-holidays-table-inside{

  width:100%;
  //text-align: center;
  justify-content: center;
  vertical-align: top;

}

.cpdf-ml1-nh-holidays-name{
  text-align: left;
  font-size: 10px;
}

.cpdf-ml1-nh-holidays-table-border{
  border: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cpdf-ml1-nh-holidays-rounded-mark {
  background-color: $cHolidaysCellColor;
  width: 5px;
  height: 5px;

  border-right:5px solid #ffffff;
  border-bottom:2px solid #ffffff;
}
