.zweek {
  display: flex;
  font-size: 15px;
}
@media (max-width: 479px) {
  .zmonth {
    min-width: 250px;
  }
  .zweek {

    height: 55px;
  }
}
@media (min-width: 479px) {
  .zmonth {
    min-width: 310px;
  }
  .zweek {

    height: 55px;
  }
}

@media (min-width: 540px) {
  .zmonth {

  }

  .zweek {

    height: 55px;
  }
}

@media (min-width: 720px) {
  .zmonth {

  }

  .zweek {

    height: 65px;
  }
}


@media (min-width: 960px) {
  .zmonth {

  }

  .zweek {

    height: 75px;
  }
}

@media (min-width: 1140px) {
  .zmonth {

  }

  .zweek {

    height: 80px;
  }
}