@media (min-width: 768px) {
  .nav.navbar-nav {
    float: none;
    text-align: center;
  }

  .nav.navbar-nav > li {
    float: none;
    display: inline-block;
  }


  .navbar-li:hover {

    border-bottom: 3px solid #d50016;

  }


}

.header-nav-line {

  background-color: #317e84 !important;
  height: 50px;

}


@media (max-width: 768px) {
  .nav-bar-collapsed-ul {

    background-color: #317e84;
    margin-top: 0px;
    margin-bottom: 0px;

  }
  .navbar-separator {

    display: none !important;

  }

  .navbar-a-link:hover {

    color: #fff4bb !important;

  }

  .navbar-li, .navbar-li:focus, .navbar-li:focus-within, .navbar-li:active, .navbar-li:visited, .navbar-li:hover {

    background-color: transparent !important;

  }

  .navbar-a-link, .navbar-a-link:hover, .navbar-a-link:focus-within, .navbar-a-link:active, .navbar-a-link:visited, .navbar-a-link:hover {


    background-color: transparent !important;

  }

}


@media (max-width: 767px) {
  .nav-bar-collapsed {
    position: relative;
    z-index: 1000;
    border-bottom: 2px solid #ffffff !important;
    font-size: 15px;
    margin-bottom: 0px;
    padding-top: 0px !important;
    background-color: #317e84;
  }

}

.nav-button {

  /* margin-top: 19px!important;*/
  border-color: #ebebeb !important;
}


.nav-button:hover, .nav-button:focus {

  /* margin-top: 19px!important;*/
  background-color: #606060 !important;
}


.navbar-li:focus, .navbar-li:focus-within, .navbar-li:active, .navbar-li:visited, .navbar-li:hover {

  background-color: transparent !important;

}

.navbar-a-link {

  color: #ffffff !important;
  font-size: 17px;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-a-link:hover, .navbar-a-link:focus-within, .navbar-a-link:active, .navbar-a-link:visited, .navbar-a-link:hover {


  background-color: transparent !important;

}

.navbar-a-link:focus {

  background-color: transparent !important;
  color: #fffcc7 !important;
}


.navbar-separator {

  font-size: 19px;
  color: white;

}

.nav-shadow {
  border-top: 1px solid #f4f4f4;
  padding-top: 10px;
  background-color: #163eff;
  border-bottom: 1px solid #f4f4f4;
  /* box-shadow: 0 3px 6px 0 rgba(50,50,50,.3); */
  height: 92px;
  /* background: linear-gradient(to right, #f2e1ff, #fffaf9 );*/
}

.nav-bar-padding {

  padding-top: 13px;

}

.icon-bar {

  background-color: #ebebeb !important;

}


.menu {

  border-top: 4px solid #416962;

}


.navigation-container {

  padding-top: 30px !important;

}


.navigation {

  display: inline-block;
  font-weight: bold;
  font-size: 25px;

}

/*
.navigation-header{


  display: inline-block;
  padding-right: 20px;
  //color: #898989;
  color: #59ac02
}*/

.navigation-header {
  margin-right: 20px;
  display: inline-block;
  padding: 1px 10px 0 10px;
  border-radius: 5px;
  color: #59ac02;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 30px 0;
  margin-bottom: 10px;
  background: #416962;
  &:hover {
    background: #559588;
  }
  a {
    color: #f7f7f7;
    &:hover {
      color: white;
      //text-decoration: underline;
    }
  }

}

.navigation-items {
  display: inline-block;
}

.navigation-item {
  display: inline-block;
  //padding-right: 20px;
  //text-decoration: overline;
  a {
    color: #416962;
    &:hover {
      color: #559588;
      //color:#c20000;
      cursor: pointer;
    }
  }
}

.navigation-separator{
  display: inline-block;
  padding-left:5px;
  padding-right:5px;
  color: #f0f0f0;
}