
// Основные цвета
$colorMain : #317e84;
$colorMainTwo : #ffffff;


//    Ссылки
//Стандартные цвета ссылок
$colorA: #337ab7;
$colorAHover: #3b9ee4;

$colorAYellow: #fff6b3;
$colorAYellowHover: #ffffff;

$colorAWhite: #fff;
$colorAWhiteHover: #fef88b;

//    Текст
//Цвета
$colorText: #000000;
$colorTextLight: #4f4f4f;
$colorTextLighter: #989898;
$colorTextLighterMore: #cacaca;

$colorLogo: #535353;
$colorLogoHover: #2f7e93;
$colorLabel : #d1d1d1;
$colorAlbumYear : #aeaeae;

$colorH1:#255e62;
$colorH2:#255e62;

$colorLinkLight: #989898;
$colorLinkLightHover: #1d1d1d;


//Размеры
$sizeH1 : 30px;
$sizeH2 : 28px;
$sizeHeaderTwo : 22px;

$sizeAlbumLink: 24px;
$sizeAlbumYear: 18px;
$sizeSongFeat: 16px;
$sizeSongLink: 19px;


//    Иконки
//Цвета
$colorIconPlay: #317e84!important;
$colorIconPlayHover: #4cbc64!important;
$colorIconFalse: #b1b1b1 !important;

//Размеры
$sizeIconPLay: 28px!important;


//    Картинки
//Размеры
$sizeAlbumPic: 200px;

//    Футер
$colorHRFooter : #2b7278;





