

$cDayNamesColor : #3b3b3b;
$cDayNameLineColor : #46648b;
$cDayNumbersColor : #535353;
$cWeekendCellColor : #f5f5f5;
$cHolidaysCellColor : #99fa88;


$cDayNamesColorPDF : #000000;
$cDayNumbersColorPDF : #000000;

// Основные цвета
$colorMain : #317e84;
$colorMainTwo : #ffffff;

//    Текст
//Цвета
$colorText: #000000;


$colorLogo: #535353;
$colorLogoHover: #2f7e93;


$colorH1:#255e62;
$colorH2:#255e62;

$colorLinkLight: #989898;
$colorLinkLightHover: #1d1d1d;


//Размеры
$sizeH1 : 30px;
$sizeH2 : 28px;
$sizeHeaderTwo : 22px;

$sizeAlbumLink: 24px;
$sizeAlbumYear: 18px;




