

$cDayNamesColor : #3b3b3b;
$cDayNameLineColor : #46648b;
$cDayNumbersColor : #535353;
$cWeekendCellColor : #f5f5f5;
$cHolidaysCellColor : #99fa88;


$cDayNamesColorPDF : #000000;
$cDayNumbersColorPDF : #000000;




