
.modal-open {
    overflow: overlay!important;
}


.modal {
    position: fixed;
    top: auto!important;
    right: 0;
    bottom: 0;
    left: auto!important;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal-content{

    border: 0!important;

}


.play-button {

    color: #317e84!important;
    font-size: 32px!important;
    vertical-align: middle;
    cursor: pointer;

}

.play-button-false {

    color: #d9d9d9!important;
    font-size: 32px!important;
    vertical-align: middle;
    cursor: not-allowed;

}

.songs-li {

    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
    padding-top: 10px;

}


.songs-li-artists {
    display: flex;
    padding-top: 10px;
}

.songs-li-a {

    display: block;
    vertical-align: middle;
    padding-top: 2px;
}

.songs-li-a-song {

    display: block;
    vertical-align: middle;
    padding-top: 3px;
}

.songs-links{
    /*list-style: decimal-leading-zero;
    margin-left: 70px;
    line-height: 1.6;
    */
    padding-left: 0;
    font-size: 20px;
    width: 100%;

}


.main-page-h1 {
    font-size: 40px;
    text-align: -webkit-center;
}

.dash{

    padding-left: 10px;
    padding-right: 10px;

}


.modal-body {

    padding: 0px!important;
}

.modal-footer {
    padding: 0 5px!important;
    padding-bottom: 5px!important;
    border-top: none!important;
}


@media (min-width: 768px) {
    .modal-dialog {
        width: 380px !important;

    }
}


.header-2,.header-translation-2 {
    font-size: 25px;
    color: #255e62;
}

.header-2-song {
    font-size: 25px;
    color: #255e62;
    margin-right: 10px;
}

.play-video-button {
    color: #317e84!important;
    font-size: 30px!important;
    vertical-align: middle;
    cursor: pointer;
    padding: 50px;
    background-color: #e9e9e9;
    border-radius: 8px;
    margin-bottom: 10px;
}

.play-video-li {
    /* padding-left: 0px; */
    /* padding-right: 0px; */
    position: static;
    text-align: center;

}

.play-video-links {
    padding-left: 0;
    font-size: 18px;
    width: 100%;
}



/*
    ///////////
 Header
    ///////////
 */

.header-top-line{

    background-color: #f8f8f8;
    text-align: -webkit-center;
    height: 45px;
    width: 100%;
    padding: 10px 0px;
    font-size: 1.7rem;

}


.header-top-line-site-name-link{

    color: #535353;
    font-weight: 600;


}

.header-top-line-sign-up{

    position: absolute;
    text-shadow: none;
    color: #000;
    right: 0;
    top: 13px;
    font-size: 1.5rem;
    height: 32px;
    width: 74px;
}

.header-top-line-search{

    position: absolute;
    text-shadow: none;
    color: #000;
    left: 0;
    top: 5px;
    font-size: 1.5rem;
    height: 32px;
    width: 30%;
    padding-left: 10px;
}

.search-value{

    text-align: left;
    display: contents;


}

.search-value-div{
    text-align: left;
   /* width: 300px;*/

}

.song-translations-a {
    margin: 10px;
    line-height: 25px;
}


.header-top-line-sign-up:hover {
    border-bottom: 5px solid #d50016;
}


.header-top-line-sign-up-link{


}


.header-nav-line {

    background-color: #317e84!important;
    height: 50px;

}

@media (min-width: 768px) {
    .nav.navbar-nav {
        float: none;
        text-align: center;
    }

    .nav.navbar-nav > li {
        float: none;
        display: inline-block;
    }


    .navbar-li:hover {

        border-bottom: 3px solid #d50016;

    }


}
/*
@media (max-width: 992px) {

    .plates-img {
        width: 100%!important;
    }

    .plates-albums {

        width: 100%!important;
        height: 100%!important;
    }
    .plates-albums-outside {

        height: 100%!important;
    }


    .plates-albums-title {
        font-size: 20px!important;
    }

    .plates-albums-artist-name {
        font-size: 17px!important;
    }

    .plates-albums-main {
        margin-bottom: 20px!important;
    }


}
*/
@media (max-width: 768px) {
    .nav-bar-collapsed-ul {

        background-color: #317e84;
        margin-top: 0px;
        margin-bottom: 0px;

    }
    .navbar-separator{

        display: none!important;

    }

    .navbar-a-link:hover{

        color: #fff4bb!important;

    }

    .navbar-li, .navbar-li:focus, .navbar-li:focus-within ,.navbar-li:active, .navbar-li:visited, .navbar-li:hover{

        background-color: transparent!important;

    }

    .navbar-a-link, .navbar-a-link:hover, .navbar-a-link:focus-within ,.navbar-a-link:active, .navbar-a-link:visited, .navbar-a-link:hover{


        background-color: transparent!important;

    }

    .plates-img {
        width: 100%!important;
    }

    .plates-albums {

        width: 100%!important;
        height: 100%!important;
    }
    .plates-albums-outside {

        height: 100%!important;
    }


    .plates-albums-title {
        font-size: 20px!important;
    }

    .plates-albums-artist-name {
        font-size: 17px!important;
    }

    .plates-albums-main {
        margin-bottom: 20px!important;
    }

    .plates-artists {

        width: 100%!important;
        height: 100%!important;
    }
    .plates-artists-outside {

        height: 100%!important;
    }


    .plates-artists-title {
        font-size: 20px!important;
    }

    .plates-artists-main {
        margin-bottom: 20px!important;
    }



}



@media (max-width: 767px) {
    .nav-bar-collapsed {
        position: relative;
        z-index: 1000;
        border-bottom: 2px solid #ffffff !important;
        font-size: 15px;
        margin-bottom: 0px;
        padding-top: 0px!important;
        background-color: #317e84;
    }

}/*
.plates-albums {
    height: 220px!important;
    text-align: -webkit-left!important;
    width: 100%!important;
}

.plates-img {

    float: left!important;
    margin-right: 10px!important;

}

.plates-albums-outside {
    height: 230px!important;
    text-align: -webkit-center!important;
}

.plates-albums-title {
    font-size: 20px!important;
}

.plates-albums-artist-name {

    font-size: 17px!important;

}

.plates-artists {
    height: 220px!important;
    width: 100%!important;
}

.plates-artists-outside {
    height: 230px!important;
}*/
@media (max-width: 479px) {

    .plates-img {
        width: 100%!important;
    }

    .plates-albums {

        width: 100%!important;
        height: 100%!important;
    }
    .plates-albums-outside {

        height: 100%!important;
    }


    .plates-albums-title {
        font-size: 20px!important;
    }

    .plates-albums-artist-name {
        font-size: 17px!important;
    }

    .plates-albums-main {
        margin-bottom: 20px!important;
    }


    .plates-artists {

        width: 100%!important;
        height: 100%!important;
    }
    .plates-artists-outside {

        height: 100%!important;
    }


    .plates-artists-title {
        font-size: 20px!important;
    }

    .plates-artists-main {
        margin-bottom: 20px!important;
    }



}

.plates-albums-main {
    /*margin-bottom: 20px;*/
    padding-left: 0px;
    padding-right: 0px;
    position: static;
}

.plates-artists-main {
    /*margin-bottom: 20px;*/
    padding-left: 0px;
    padding-right: 0px;
    position: static;
}

.nav-button{

   /* margin-top: 19px!important;*/
    border-color: #ebebeb!important;
}

.nav-button:hover, .nav-button:focus{

    /* margin-top: 19px!important;*/
    background-color: #606060!important;
}


.navbar-li:focus, .navbar-li:focus-within ,.navbar-li:active, .navbar-li:visited, .navbar-li:hover{

    background-color: transparent!important;

}


.icon-bar{

    background-color: #ebebeb!important;

}

.dropdown-extended {

    border: 0px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.375);
    border-top: 3px solid #c61001!important;
    padding: 8px 8px!important;
    width:350px;
}

.navbar-a-link {

    color: #ffffff!important;
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-a-link:hover, .navbar-a-link:focus-within ,.navbar-a-link:active, .navbar-a-link:visited, .navbar-a-link:hover{


    background-color: transparent!important;

}

.navbar-a-link:focus{

    background-color: transparent!important;
    color: #fffcc7 !important;
}




.navbar-separator{

    font-size: 19px;
    color: white;

}


.dropdown-li-extended {
    /*padding: 8px 0px;*/

    border-bottom: 1px solid #ecf2f8;
}


.dropdown-li-a-extended{
    padding: 8px 20px!important;
    white-space: normal!important;
    color: #2c2c2c !important;
    font-size: 15px;



}


.dropdown-li-a-extended:hover {

    background-color: #f4f4f4 !important;
    border-radius: 4px !important;
    color: #c61001 !important;

}



.brand-link-extended {

    font-size: 17px;
    padding-top: 1px;
    color: #c61001!important;
}

.brand-link-extended:hover {

    font-size: 17px;

    color: #31a8ff !important;

}

img.brand-image{

    display: inline;
    margin-left: 0px;
    vertical-align: bottom;

}

.brand-div{

    display: inline-block;
    padding-left: 12px;
    margin-bottom: 10px;
    line-height: 25px;
}




.nav-shadow{
    border-top: 1px solid #f4f4f4;
    padding-top: 10px;
    background-color: #163eff;
    border-bottom: 1px solid #f4f4f4;
    /* box-shadow: 0 3px 6px 0 rgba(50,50,50,.3); */
    height: 92px;
    /* background: linear-gradient(to right, #f2e1ff, #fffaf9 );*/
}

.nav-bar-padding{

    padding-top: 13px;

}




/*
///////////
//////////////Header
///////////
*/



/*
///////////
             footer
///////////
*/



footer{
    background-color: #317e84;
    padding:0px 0px;
}

footer .fa:hover{
    /*    color:#675f5f;*/
}

.logo{
    color:#FFF;
    /* font-weight:800;*/
    font-size:30px;
}

.adress span , .contact span , .social span , .header-form{
    color: #fff6b3;
    /*  font-weight: 800;*/
    padding-top:20px;
    padding-bottom:20px;
    display: block;
    /* text-transform: uppercase;*/
    font-size: 20px;
    /* letter-spacing: 3px;*/
}

.adress li p , .contact li a , .social li a{
    color: #f8e6e6;
    /*  letter-spacing: 2px;*/
    text-decoration:none;
    font-size:15px;


}

.contact a:hover {

    color: #fff6b3;

}

.footer-brand{

    line-height: 30px;
    color: #fff6b3;
    font-size: 18px;
}

.footer-brand-down-text{
    color: #fff6b3;
    font-size: 18px;
}


.adress, .contact , .social{
    list-style: none;
    padding-left:0px;
}

.social li{
    float:left;
}

.fa{
    color:#f7f7f7;
    margin-right: 10px;
    font-size:14px;
}

.btn-search{
    background: #484848;
    border: none;
    color: #FFF;
    padding: 5px 15px;
}

.input-search{
    border: none;
    height: 30px;
    padding-left: 10px;
}

.globe-size {

    font-size: 20px;
    color: #f7f7f7;
    margin-right: 6px;

}


.choose-languages {

    cursor: pointer;
    padding-top: 25px;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    width: 90px;
    color: #f7f7f7;
}

.sort-down-languages {

    padding-bottom: 6px;
    padding-left: 8px;

}


.choose-languages:hover .languages-dropdown {
    display: block;
    line-height: 25px;
}


.languages-dropdown {
    position: absolute;
    bottom: 106px;
    left: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    z-index: 9;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .35);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .35);
    background-color: #fff;
    padding: 12px 14px 12px;
    border-radius: 6px;
    display: none;
    font-size: 13px;
    max-height: 80vh;
    width: 350px;
    overflow: auto;
    margin-left: 16px;
    column-count: 3;


}

@media (max-width: 768px) {
    .choose-languages {
        display: none;
    }



}



@media (min-width: 768px) {
    .text-md-left {
        text-align: left!important;
    }



}

ol, ul {
    list-style: none;
}

.show-only-small-resolution {

    display: none;

}


@media (max-width: 768px) {
    .show-only-small-resolution {
        display: block;
    }

    .song-text-title{

        font-size: 40px!important;
        margin-top: 20px;

    }


    .header-translation-2{

        margin-top: 90px!important;
    }


}

.social-center{
    text-align: center;
}



.footer-hr{

    border-color: #2b7278;

}

.footer-num-a-link{

    color: #fff6b3;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
    line-height: 30px;

}
.footer-num-a-link:hover{

    color:white;

}


/*
///////////
//////////////footer
///////////
*/


/*
///////////
              ArtistsIndex
///////////
*/

.artists-index-link{

    color: #006f92;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    line-height: 25px;

}

.artists-index-link:hover{

    color: #00a4d1;

}

/**
///////////
/////////////////        ArtistsIndex
///////////
*/


@font-face {
    font-display: auto; /* Задаем поведение браузера на время загрузки */
}

@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }


}


@media (min-width: 768px) {
    .container-extended {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }




}


.container-no-top-padding-extended{

padding: 35px 15px 20px!important;

}


.container-no-top-padding-extended-embed{

    padding: 20px 5px 20px!important;

}


.main-pages-extended{

    padding-left: 0px;
    padding-right: 0px;
    position: static;

}

/*
Делает плитку одинаковой высоты и ширины.
*/
.row-flex {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;

}


.row-padding{

    padding-left: 15px;
    padding-right: 15px;

}


/* vertical spacing between columns */



.plates {
    min-height: 20px;
    height: 280px;
    padding: 19px;
   /* margin-bottom: 20px;*/
    background-color: #e4f4ff;
    border: 0.04em solid #fff;
    border-radius: 8px;
    word-break: break-all;
    text-align: center;
}


.plates-outside {
    min-height: 20px;
    height: 280px;
    padding: 19px;
    background-color: #e4f4ff;
    border: 0.04em solid #fff;
    border-radius: 8px;
    word-break: break-all;
    text-align: center;
}

.plates-albums {
    min-height: 20px;
    height: 320px;
    padding: 5px;
    background-color: #d0d0d069;
    border-radius: 1px;
    /*word-break: break-all;*/
    text-align: center;
    width: 223px;
}

.plates-albums:hover{

    background-color: #7bf5fe;

}
.plates-albums-outside{
    min-height: 20px;
    height: 330px;
    border-radius: 8px;
    text-align: -webkit-center;
}

.plates-albums-title{

    color: #131415;
    font-size: 14px;

}

.plates-songs {
    min-height: 20px;
    height: 110px;
    padding: 5px;
    background-color: #d0d0d069;
    border-radius: 1px;
    word-break: break-all;
    text-align: left;
    width: 100%;
}

.plates-songs:hover{

    background-color: #fee07b;


}
.plates-songs-outside{
    min-height: 20px;
    height: 130px;
    border-radius: 8px;
    text-align: -webkit-center;
    padding: 10px;
}

.plates-songs-title{

    color: #131415;
    font-size: 14px;

}

.plates-songs-img {
    float: left;
    margin-right: 10px;
}

.plates-artists {
    min-height: 20px;
    height: 320px;
    padding: 5px;
    background-color: #d0d0d069;
    border-radius: 1px;
    /*word-break: break-all;*/
    text-align: center;
    width: 223px;
}

.plates-artists:hover{

    background-color: #7bfede;

}
.plates-artists-outside{
    min-height: 20px;
    height: 330px;
    border-radius: 8px;
    text-align: -webkit-center;
}

.plates-artists-title{

    color: #131415;
    font-size: 16px;
    font-weight: bolder;

}


.main-page-h2 {
    font-size: 40px;
    text-align: -webkit-center;
}
.plates:hover {
    background-color: #f4fafe;
    /*-webkit-transition: plates-img 0.2s ease;*/
}

/* Данная конструкция позваоляет анимировать внутренний элемент*/

.plates:hover > p > .plates-img{
    margin-left:4px;
    /*-webkit-transition: all 0.1s 0.0s ease-in;*/
}
/*
.plates:hover ~ .plates-img {
    -moz-transition: all 0.5s 0.3s ease-in;
    -o-transition: all 0.5s 0.3s ease-in;
    -webkit-transition: all 0.5s 0.3s ease-in;
    background-color: rgba(0,0,0,0.3);

}
*/

.plates-title {

    color: #131415;
    font-size: 17px;
}

.plates-under-title {
    font-size: 12px;
    color: #82878f;
}




.artist-photo{

    float: left;
    margin-right: 20px;
}

.youtube-player-header {
    text-align: center;
}

.artist-album-photo {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.artist-songs-links{

    list-style: decimal-leading-zero;
    margin-left: 25px;
    padding-left: 0;
    line-height: 1.6;

}

.artist-album-name {
    font-size: 22px;

}

.artist-album-year {
    font-size: 16px;
}


.album-artist-link {
    font-size: 22px;
    line-height: 2;
}

.album-songs-links{

    list-style: decimal-leading-zero;
    margin-left: 70px;
    padding-left: 0;
    line-height: 1.6;
    font-size: 20px;

}


.album-name {

    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.album-text {
    color: #cccccc;
}


.song-text{

    font-size: 2rem;
    color: #225a5e;
    margin-right: 10px;
}

.song-text-title{

    font-size: 1.6rem;
    color: #7d7d7d;

}

.song-translation-title{

    font-size: 1.6rem;
    color: #7d7d7d;

}

.artist-other-songs-links{

    list-style: decimal-leading-zero;
    margin-left: 25px;
    padding-left: 20px;
    line-height: 1.6;

}


.share-social {
    text-align: left;
}

body {

    /*background-color: #ededed !important;*/
    font-family: Arial;

}


h1 {

    font-size: 24px;

}
.h1-all {

    margin: auto;
    padding-bottom: 10px;
    margin-top: 11px;
    color: #5a5a5a;
    font-size: 20px;
    word-break: break-all;
}

.h1-main {

    display: inline-flex;
    padding-bottom: 10px;
}

.h1-and-breadcrumbs{

    padding-left: 15px;

}


.breadcrumbs{

    color: #b2b2b2;
    padding-left: 0px;
    padding-top: 80px;
    font-size: 16px;

}


.breadcrumbs-item{

    float: left;
    margin-right: 5px;
}

h2 {

    font-size: 20px;

}
/*
p{

    color: #7a7a7a;
    font-size: 13px;

}*/


a:hover{

    text-decoration: none;

}


a{

    text-decoration: none;

}











.comments-width{

    width: 100%;
    text-align: center;
    display: block;
}
/*Fb Comments Width Fix*/
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
    max-width: 100% !important;
    width: 100% !important;
}


/* [+] col-xxs- */
.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

@media (max-width: 479px) {
    .col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
        float: left;
    }
    .col-xxs-12 {
        width: 100% !important;
    }
    .col-xxs-11 {
        width: 91.66666667%;
    }
    .col-xxs-10 {
        width: 83.33333333%;
    }
    .col-xxs-9 {
        width: 75%;
    }
    .col-xxs-8 {
        width: 66.66666667%;
    }
    .col-xxs-7 {
        width: 58.33333333%;
    }
    .col-xxs-6 {
        width: 50%;
    }
    .col-xxs-5 {
        width: 41.66666667%;
    }
    .col-xxs-4 {
        width: 33.33333333%;
    }
    .col-xxs-3 {
        width: 25%;
    }
    .col-xxs-2 {
        width: 16.66666667%;
    }
    .col-xxs-1 {
        width: 8.33333333%;
    }
    .col-xxs-pull-12 {
        right: 100%;
    }
    .col-xxs-pull-11 {
        right: 91.66666667%;
    }
    .col-xxs-pull-10 {
        right: 83.33333333%;
    }
    .col-xxs-pull-9 {
        right: 75%;
    }
    .col-xxs-pull-8 {
        right: 66.66666667%;
    }
    .col-xxs-pull-7 {
        right: 58.33333333%;
    }
    .col-xxs-pull-6 {
        right: 50%;
    }
    .col-xxs-pull-5 {
        right: 41.66666667%;
    }
    .col-xxs-pull-4 {
        right: 33.33333333%;
    }
    .col-xxs-pull-3 {
        right: 25%;
    }
    .col-xxs-pull-2 {
        right: 16.66666667%;
    }
    .col-xxs-pull-1 {
        right: 8.33333333%;
    }
    .col-xxs-pull-0 {
        right: auto;
    }
    .col-xxs-push-12 {
        left: 100%;
    }
    .col-xxs-push-11 {
        left: 91.66666667%;
    }
    .col-xxs-push-10 {
        left: 83.33333333%;
    }
    .col-xxs-push-9 {
        left: 75%;
    }
    .col-xxs-push-8 {
        left: 66.66666667%;
    }
    .col-xxs-push-7 {
        left: 58.33333333%;
    }
    .col-xxs-push-6 {
        left: 50%;
    }
    .col-xxs-push-5 {
        left: 41.66666667%;
    }
    .col-xxs-push-4 {
        left: 33.33333333%;
    }
    .col-xxs-push-3 {
        left: 25%;
    }
    .col-xxs-push-2 {
        left: 16.66666667%;
    }
    .col-xxs-push-1 {
        left: 8.33333333%;
    }
    .col-xxs-push-0 {
        left: auto;
    }
    .col-xxs-offset-12 {
        margin-left: 100%;
    }
    .col-xxs-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-xxs-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-xxs-offset-9 {
        margin-left: 75%;
    }
    .col-xxs-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-xxs-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-xxs-offset-6 {
        margin-left: 50%;
    }
    .col-xxs-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-xxs-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-xxs-offset-3 {
        margin-left: 25%;
    }
    .col-xxs-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-xxs-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-xxs-offset-0 {
        margin-left: 0;
    }
}


/* [+] hidden-xxs */
@media (max-width: 479px) {
    .hidden-xxs {
        display: none !important;
    }
}


/* [+] visible-xxs and visible-xxs- */
.visible-xxs {
    display: none !important;
}
.visible-xxs-block,
.visible-xxs-inline,
.visible-xxs-inline-block {
    display: none !important;
}

@media (max-width: 479px) {
    .visible-xxs {
        display: block !important;
    }
    table.visible-xxs {
        display: table;
    }
    tr.visible-xxs {
        display: table-row !important;
    }
    th.visible-xxs,
    td.visible-xxs {
        display: table-cell !important;
    }
    .visible-xxs-block {
        display: block !important;
    }
    .visible-xxs-inline {
        display: inline !important;
    }
    .visible-xxs-inline-block {
        display: inline-block !important;
    }
}