@media (min-width: 768px){
.text-md-left {
  text-align: left!important;
}}

.artists-index{

  margin-top: 30px;

  div{

    width:100%;
    text-align: center;
    word-break: break-all;
    line-height: 35px;

    a{

      padding-right: 15px;
      margin-bottom: 20px;
      font-size:19px;

    }

  }


}


.artists-index-letter{

  margin-top: 30px;

  div{

    width:100%;
    text-align: center;
    word-break: break-all;
    line-height: 25px;

    a{

      padding-right: 15px;
      margin-bottom: 20px;
      font-size:19px;

    }

  }


}

li.disabled{

  font-size: 19px;

}
