.current-date-year{

  font-size: 25px;
  padding: 30px 0 20px;
  width: 120px;
  background-color: white;
  border-radius: 50%;
  margin: 10px 0 0 0;
}






.holidays-color-square-gray{

  margin-right: 5px;
  width: 12px;
  height: 12px;
  background: #bec0bc;
  display: inline-block;

}

.holidays-names-line{

  border-bottom: 1px solid #eeeeee;
  padding-top: 3px;
  padding-bottom: 3px;

}

.holidays-color-square-green{

  margin-right: 5px;
  width: 12px;
  height: 12px;
  background: #99fa88;
  display: inline-block;

}