.day-plates {

  padding: 5px;

}
/*
.navigation-header {
    margin-right: 20px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    color: #59ac02;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 30px 0px;
    margin-bottom: 10px;
}


*/
.day-plate {

  //background-color: #ebf8ff;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  box-shadow: 0 0px 20px 0px rgb(0 0 0 / 11%);
  font-size: 18px;

  a {
    font-size: 16px;
  }

}

.header-a {
  font-size: 17px;
}

.day-plate-header {
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.day-plate-header:hover {
  color: black;
  text-decoration: underline;
}

.day-month {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}