.eastern-pic{

  margin: 4px;
  //filter: opacity(100%);
  //filter: invert(40%);
  //filter: hue-rotate(50deg);
}

.eastern-year-link{

font-size: 22px;

}

.eastern-one-peace{

  padding-bottom: 10px;
  padding-top: 10px;

}


.eastern-one-peace:hover{

  background-color: #d4eaff;

}

.eastern-center{

 text-align: center;

}

.eastern-year{

  text-align: left;
  font-size: 18px;

}