.main-page-h1 {


}

.main-page-h2 {


}


.current-date-link {

  font-size: 50px;
  line-height: 30px;
}

.current-date {

}

.current-date-div {

  background-color: #b5fa6d;
  border-radius: 10px;
  min-width: 160px;
  margin-top: 10px;
  padding: 10px;

}



.current-date-one {

  text-align: -webkit-center;

}

.current-date-date {

  padding: 30px 0 20px;
  width: 120px;
  background-color: white;
  border-radius: 50%;
  margin: 10px 0 0 0;

}

.current-date-month {

  font-size: 20px;


}

.current-date-text {

  padding: 10px 10px 30px 10px;
  font-size: 18px;
}


.c-links-mp {

  padding: 10px 20px;

}

.c-links-mp-header {

  margin-bottom: 20px;

}

.c-links-mp-header-link {

  font-size: 22px;

}


.c-links-mp-months {

  padding: 0;
  line-height: 24px;
  font-size: 17px;
}


.c-links-block {

  display: flow-root;
  font-size: 17px;
}

.hr-1 {

  border: 0;
  height: 2px;
  background: #d3783a;
}
.hr-2 {

  border: 0;
  height: 2px;
  background: #647ad3;
}
.hr-3 {

  border: 0;
  height: 2px;
  background: #76be5f;
}
.hr-4 {

  border: 0;
  height: 2px;
  background: #7a46be;
}
.hr-5 {

  border: 0;
  height: 2px;
  background: #be6178;
}

.plates{
  padding: 10px;
}



.plate {
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 11%);
  font-size: 18px;
  min-height: 280px;
  .plate-header{
    margin-bottom: 10px;
    a {
      color: black;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        color: black;
        text-decoration: underline;
      }
    }
  }

  .plate-links{

    font-size: 16px;
  }


}