.plate-namaz-times{
  text-align: center;
  margin-top: 25px;
}

.plate-namaz-times-item{
  font-size: 22px;
  margin-top: 10px;
}

.plate-namaz-times-item-time{
  font-size: 45px;
  //margin-top: 20px;
  border-bottom: 3px solid #f3f3f3;
}

.plate-namaz-times-text{
  text-align: right;
  font-size: 25px;
}

.plate-namaz-digital-watch{
  font-size: 25px;
  display: inline-block;
}

.namaz-mweek {
  display: flex;
  font-size: 15px;
}


.namaz-month-day-title{
   font-size: 20px;

 }

.namaz-month-day{
  font-size: 20px;
  text-align: center;
}

.namaz-month-day-time{
  font-size: 20px;
}

.namaz-month-day-time-name{
  font-size: 15px;
  color: #acacac
;
}