.plate-clock {
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 11%);
  font-size: 18px;
  min-height: 290px;
  word-break: break-word;

  .plate-clock-analog-watch {
    color: black;
    font-size: 16px;
    font-weight: bold;

  }

  .plate-clock-digital-watch {
    color: #416962;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  .plate-clock-city-name {
    color: #5b5b5b;
    font-size: 25px;
    font-weight: 700;
    text-align: center;

    a {
      color: #5b5b5b;
      font-weight: bold;

      &:hover {
        color: #5b5b5b;
        text-decoration: underline;
      }
    }
  }

  .plate-clock-date {
    color: #c6c6c0;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }

  .plate-clock-utc {
    //color: #920b1a;
    color: #c6c6c0;
    font-size: 16px;

    text-align: center;
  }

}

.digital-watch {
  color: #000000;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}


.digital-watch-utc {
  color: #980000;
  font-size: 17px;
  text-align: center;
}

.plate-digital-watch {
  text-align: center;
  width: 100%;
  font-weight: 700;
  line-height: 1.1;
}

.plate-digital-watch-text{

  text-align: right;
  font-size: 30px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

  .plate-digital-watch {
    font-size: 270px;
  }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .plate-digital-watch {
    font-size: 232px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .plate-digital-watch {
    font-size: 180px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .plate-digital-watch {
    font-size: 108px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .plate-digital-watch {
    font-size: 80px;
  }
}

@media (max-width: 360px) {
  .plate-digital-watch {
    font-size: 50px;
  }
}

.table-time {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 12px 16px;

  }

  thead {


    tr {
      color: #ffffff;
      font-weight: bold;
      background: #416962;;

      td {
        border: 1px solid #416962;
        word-break: break-word;


      }
    }

  }

  tbody {
    tr {
      td {
        border: 1px solid #e8e9eb;
        font-size: 20px;

        word-break: break-word;
      }

      &:nth-child(2n) {
        background: #f4f4f4;
      }

      &:hover {
        background: #ebffe8;
      }
    }


  }

}

