.plate-clock {
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 11%);
  font-size: 18px;
  min-height: 290px;
  word-break: break-word;

  .plate-clock-analog-watch {
    color: black;
    font-size: 16px;
    font-weight: bold;

  }

  .plate-clock-digital-watch {
    color: #416962;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  .plate-clock-city-name {
    color: #5b5b5b;
    font-size: 25px;
    font-weight: 700;
    text-align: center;

    a {
      color: #5b5b5b;
      font-weight: bold;

      &:hover {
        color: #5b5b5b;
        text-decoration: underline;
      }
    }
  }

  .plate-clock-date {
    color: #c6c6c0;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }

  .plate-clock-utc {
    //color: #920b1a;
    color: #c6c6c0;
    font-size: 16px;

    text-align: center;
  }

}

.digital-watch {
  color: #000000;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}


.digital-watch-utc {
  color: #980000;
  font-size: 17px;
  text-align: center;
}

.plate-digital-watch {
  text-align: center;
  width: 100%;
  font-weight: 700;
  line-height: 1.1;
}

.plate-digital-watch-diff-left {
  text-align: right;
  width: 100%;
  font-weight: 700;
  line-height: 1.1;
  padding-top: 30px;
}

.plate-digital-watch-diff-right {
  text-align: left;
  width: 100%;
  font-weight: 700;
  line-height: 1.1;
  padding-top: 30px;
}

.plate-digital-watch-diff-hours {
  text-align: center;
  width: 100%;
  font-weight: 700;
  line-height: 1.1;
  padding-top: 40px;
  font-size: 120px;
  /*color: #D2BD96;*/
  color: #CF949B;
}

.plate-digital-watch-text{
  text-align: right;
  font-size: 25px;
}

.plate-digital-watch-text-diff-left{
  text-align: right;
  font-size: 20px;
}
.plate-digital-watch-text-diff-right{
  text-align: left;
  font-size: 20px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .plate-digital-watch {
    font-size: 270px;
  }
  .plate-digital-watch-diff-left, .plate-digital-watch-diff-right {
    font-size: 90px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .plate-digital-watch {
    font-size: 232px;
  }
  .plate-digital-watch-diff-left, .plate-digital-watch-diff-right {
    font-size: 70px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .plate-digital-watch {
    font-size: 180px;
  }
  .plate-digital-watch-diff-left, .plate-digital-watch-diff-right {
    font-size: 120px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .plate-digital-watch {
    font-size: 108px;
  }
  .plate-digital-watch-diff-left, .plate-digital-watch-diff-right {
    font-size: 108px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .plate-digital-watch {
    font-size: 80px;
  }
  .plate-digital-watch-diff-left, .plate-digital-watch-diff-right {
    font-size: 80px;
  }
}

@media (max-width: 360px) {
  .plate-digital-watch {
    font-size: 50px;
  }
  .plate-digital-watch-diff-left, .plate-digital-watch-diff-right {
    font-size: 50px;
  }
}

.table-time {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 12px 16px;

  }

  thead {


    tr {
      color: #ffffff;
      font-weight: bold;
      background: #416962;;

      td {
        border: 1px solid #416962;
        word-break: break-word;


      }
    }

  }

  tbody {
    tr {
      td {
        border: 1px solid #e8e9eb;
        font-size: 20px;

        word-break: break-word;
      }

      &:nth-child(2n) {
        background: #f4f4f4;
      }

      &:hover {
        background: #ebffe8;
      }
    }


  }

}


.plate-clock-min {
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 11%);
  font-size: 18px;
  word-break: break-word;

  .plate-clock-min-digital-watch {
    color: #929292;
    font-size: 20px;
    text-align: right;
  }

  .plate-clock-min-country-name {
    color: #1e1e1e;
    font-size: 22px;
    text-align: right;

    a {
      color: #1e1e1e;
      font-weight: bold;

      &:hover {
        color: #5b5b5b;
        text-decoration: underline;
      }
    }
  }
  .plate-clock-min-city-name {
    color: #1e1e1e;
    font-size: 22px;
    text-align: right;

    a {
      color: #1e1e1e;
      font-weight: bold;

      &:hover {
        color: #5b5b5b;
        text-decoration: underline;
      }
    }
  }

  .plate-clock-min-date {
    color: #c6c6c0;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }

  .plate-clock-min-utc {
    //color: #920b1a;
    color: #c6c6c0;
    font-size: 16px;

    text-align: center;
  }

}


.difference-cities-hours-color {
  background-color: #cf949b;
  width: 16px;
  height: 33px;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border: 3px solid #fff;
}
.difference-cities-city-name-plus,
.difference-cities-city-name-minus,
.difference-cities-city-hours-plus,
.difference-cities-city-hours-minus{
  border-bottom: 1px solid #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;

}

.difference-cities-city-change {
  text-align: center;
}

.difference-cities-city-name-plus {
  text-align: right;
}

.difference-cities-city-name-minus {
  text-align: left;
}


.difference-cities-city-hours-plus {
  text-align: left;
  display: flex;
}

.difference-cities-city-hours-minus {
  display: flex;
  justify-content: flex-end;
}

.difference-cities-city-prev{
  text-align: left;
  font-size: 24px;
}

.difference-cities-city-next{
  text-align: right;
  font-size: 24px;
}

.difference-cities-city-change-a{
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 24px;
}

.difference-cities-city-change-aaa{
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 24px;
}