.zodiac-pic {

  float: left;
  margin: 0 20px 0 0;
}

.zodiac-one-peace {

  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}


.zodiac-one-peace:hover {

  background-color: #eef8ff;

}


.zodiac-link {

  font-size: 20px;

}

.zodiac-text{

  font-size: 20px;
  display: inline-flex;
}